version: 2
registries:
  maven-central:
    type: maven-repository
    url: https://repo.maven.apache.org/maven2
  gradle-plugin-portal:
    type: maven-repository
    url: https://plugins.gradle.org/m2
  google:
    type: maven-repository
    url: https://dl.google.com/dl/android/maven2
updates:
  - package-ecosystem: "gradle"
    registries: "*"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      kotlin:
        patterns:
          - "org.jetbrains.kotlin*"
          - "com.google.devtools.ksp"
  - package-ecosystem: "github-actions"
    directories:
      - "/"
      - "/.github/actions/*"
    schedule:
      interval: "weekly"
