name: 'Setup Host'
description: 'Configures the host runner to run the build'

runs:
  using: "composite"
  steps:
    - name: Setup JDK17
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Expose `ANDROID_HOME`
      shell: bash
      run: echo ANDROID_HOME=$ANDROID_HOME >> $GITHUB_ENV
    - name: Accept Android licences
      shell: bash
      run: (yes || true) | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses
    - # https://developer.android.com/studio/test/gradle-managed-devices#create_a_gradle_managed_device
      name: Set `swiftshader_indirect` on Android Emulators (required by GHA)
      shell: bash
      run: echo "android.testoptions.manageddevices.emulator.gpu=swiftshader_indirect" >> ~/.gradle/gradle.properties
